@media screen and (min-width: 312px) {
    .form {
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 15px;
        height:600px;
        width: 290px;
    }
}
@media screen and (min-width: 456px) {
    .form {
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 15px;
        height: 600px;
        width: 400px;
    }
}
@media screen and (min-width: 600px) {
    .form {
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 15px;
        height: 490px;
        width: 500px;
    }
}
@media screen and (min-width: 744px) {
    .form {
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 15px;
        height: 500px;
        width: 600px;
    }
}
@media screen and (min-width: 888px) {
    .form {
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 15px;
        height: 500px;
        width: 777px;
    }
}
@media screen and (min-width: 1032px) {
    .form {
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 15px;
        height: 530px;
        width: 800px;
    }
}
@media screen and (min-width: 1176px) {
    .form {
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 15px;
        height: 500px;
        width: 900px;
    }
}